:root {
  --black: #121212;
  --dark-green: #21383e;
  --brown: #553c16;
  --light-brown: #f5f2ec;
  --dark-brown: #7d6353;
  --gray: #7d8186;
  --light-gray: #dedede;
  --white: #fff;
  --purple: #725ba1;
  --light-purple: #726985;
  --green: #43b671;
  --dark-gray: #404852;

  /* Font sizes (rem scale) */
  --rem-4: 0.25rem; /* 4px */
  --rem-5: 0.3125rem; /* 5px */
  --rem-8: 0.5rem; /* 8px */
  --rem-10: 0.625rem; /* 10px */
  --rem-12: 0.75rem; /* 12px */
  --rem-13: 0.8125rem; /* 13px */
  --rem-14: 0.875rem; /* 14px */
  --rem-16: 1rem; /* 16px */
  --rem-20: 1.25rem; /* 20px */
  --rem-23: 1.4375rem; /* 23px */
  --rem-25: 1.5625rem; /* 25px */
  --rem-28: 1.75rem; /* 28px */
  --rem-30: 1.875rem; /* 30px */
  --rem-34: 2.125rem; /* 34px */
  --rem-35: 2.1875rem; /* 35px */
  --rem-36: 2.25rem; /* 36px */
  --rem-37: 2.3125rem; /* 37px */
  --rem-38: 2.375rem; /* 38px */
  --rem-40: 2.5rem; /* 40px */
  --rem-42: 2.625rem; /* 42px */
  --rem-48: 3rem; /* 48px */
  --rem-50: 3.125rem; /* 50px */
  --rem-53: 3.3125rem; /* 53px */
  --rem-60: 3.75rem; /* 60px */
  --rem-70: 4.375rem; /* 70px */
  --rem-80: 5rem; /* 80px */
  --rem-90: 5.625rem; /* 90px */
  --rem-100: 6.25rem; /* 100px */
  --rem-120: 7.5rem; /* 120px */
  --rem-130: 8.125rem; /* 130px */
  --rem-150: 9.375rem; /* 150px */
  --rem-200: 12.5rem; /* 200px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  max-width: 2000px;
  margin: auto;
  color: var(--black);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

nav {
  display: flex;
  gap: var(--rem-70);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: var(--rem-10);
  margin-left: var(--rem-60);
}

.logo-container:focus,
.logo-container:hover {
  /* outline: 2px solid blue; */
  /* background: var(--light-brown);
  border-bottom-right-radius: var(--rem-40);
  padding: var(--rem-37) var(--rem-60);
  margin-left: 0; */
}

.logo-container .logo-text {
  font-weight: bold;
  font-size: var(--rem-14);
}

nav ul {
  display: flex;
  gap: var(--rem-4);
  list-style: none;
}

nav ul li {
  display: flex;
  align-items: center;
  transition: background-position-x 0.9s linear;
  height: 50px;
  width: 125px;
  justify-content: center;
}

a {
  font-size: var(--rem-13);
  color: var(--dark-green);
  text-decoration: none;
  transition: all 0.45s;
}

nav ul li:hover {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjM5MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCAzOTAgNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM5MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CiAgPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iI2ZmZmZmZiIvPgogIDxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzU1M2MxNiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTAsNDcuNTg1YzAsMCw5Ny41LDAsMTMwLDAKICAgYzEzLjc1LDAsMjguNzQtMzguNzc4LDQ2LjE2OC0xOS40MTZDMTc5LjY2OSw0Ni41LDI0MC42MDMsNDcuNTg1LDI2MCw0Ny41ODVjMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+");
  animation: line 1s;
}

nav ul li:hover a {
  color: var(--brown);
}

nav ul li:not(:last-child) {
  /* margin-right: 30px; */
}
/* 
.menu li {

  transition: background-position-x 0.9s linear;

}
  a {
    transition: all 0.45s;
  }
 */

.btns-container button {
  all: unset;
  cursor: pointer;
  padding: var(--rem-42) var(--rem-60);
  color: var(--brown);
  font-weight: 600;
  font-size: var(--rem-13);
}

.btns-container button:hover,
.btns-container button:focus {
  background: var(--light-brown);
  border-bottom-left-radius: var(--rem-40);
  border-bottom-right-radius: var(--rem-40);
}

.btns-container button:last-child:hover,
.btns-container button:last-child:focus {
  background: var(--brown);
  color: var(--light-brown);
  border-bottom-left-radius: var(--rem-40);
  border-bottom-right-radius: 0;
}

.btns-container button:last-child {
  background: var(--light-brown);
  border-bottom-left-radius: var(--rem-40);
}

main {
  margin-top: var(--rem-80);
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline-start: var(--rem-130);
  position: relative;
}

.content-container h1,
.content-container h2 {
  font-size: var(--rem-60);
  line-height: var(--rem-70);
  font-weight: normal;
  width: 90%;
}

.content-container p {
  font-size: var(--rem-14);
  color: var(--dark-green);
  margin-top: var(--rem-34);
  width: 70%;
}

.content-container hr {
  display: block;
  width: 121px;
  border: none;
  border-bottom: 1px solid var(--light-gray);
}

.hero-section .left-part img {
  width: 75%;
  display: flex;
  justify-self: end;
  border-radius: 0 0 50% 50%;
}

.hero-section .right-part div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.right-part div:first-child img {
  grid-column: 1 / 4;
  width: 100%;
  border-radius: 50% 50% 0 0;
}

.right-part div:last-child img {
  grid-column: 4 / 6;
  width: 100%;
  border-radius: 0 0 50% 50%;
}

.left-part,
.right-part {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  position: relative;
}

.email-form {
  background: var(--white);
  padding: var(--rem-28) var(--rem-30);

  position: absolute;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--rem-10);
  box-shadow: 0 var(--rem-8) var(--rem-25) rgba(0, 0, 0, 0.1);
}

.email-form label {
  font-size: var(--rem-13);
  color: var(--gray);
}

.email-form input {
  all: unset;
  color: var(--black);
  display: block;
  font-size: var(--rem-23);
  font-weight: 500;
  margin-top: var(--rem-5);
  width: 300px;
}

.email-form input::placeholder {
  color: var(--black);
}

.email-form button {
  all: unset;
  cursor: pointer;
  background: var(--purple);
  color: white;
  padding: var(--rem-20) var(--rem-50);
  border-radius: var(--rem-10);
  font-size: var(--rem-14);
}

.email-form button:hover,
.email-form button:focus {
  background: var(--light-purple);
  /* background: var(--light-brown);
  color: var(--brown); */
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(114, 91, 161, 0.7);
  /* background: linear-gradient(45deg, var(--light-gray), var(--purple)); */
}

.pattern {
  width: var(--rem-90);
  height: var(--rem-100);
  position: absolute;

  top: 50%;
  left: calc(var(--rem-50) * -1);

  background-image: radial-gradient(var(--black) 12%, var(--white) 13%);
  background-size: var(--rem-10) var(--rem-10);
  z-index: -1;
}

.burger-menu {
  width: var(--rem-30);
  height: var(--rem-30);
  display: none;
}

html {
  font-size: 100%;
}

.chat-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto var(--rem-100);
  position: relative;
  column-gap: var(--rem-53);
}

.chat-section .left-part {
  grid-template-rows: none;
}

.chat-section .left-part .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--rem-50);
}

.chat-section .left-part .content-container p {
  margin-top: 0;
}

.testimonial {
  display: flex !important;
  flex-direction: column;
  gap: var(--rem-16);
}

.chat-section .right-part div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.chat-section .right-part div:first-child img {
  grid-column: 4 / 7;
  align-self: end;
}

.chat-section .right-part div:last-child img {
  grid-column: 1 / 4;
}

.chat-section .right-part .chat-bubble {
  position: absolute;
  display: block;
  color: white;
  padding: 10px 20px;
  z-index: 99;
}

/* .right-part {
  view-timeline-name: --chat-scroll;
  view-timeline-axis: block;
}

.chat-bubble {
  opacity: 0;
  transform: scale(0.8);
  animation: popIn 0.5s ease-out forwards;
  animation-timeline: --chat-scroll;
  animation-range: entry 0% cover 30%;
}

.bubble-1 {
  animation-delay: 0s;
}

.bubble-2 {
  animation-delay: 0.8s;
}

.bubble-3 {
  animation-delay: 2s;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.chat-section .right-part .chat-bubble-brown {
  width: 185px;
  background-color: var(--dark-brown);

  border-radius: 24px 24px 0 24px;

  top: 25%;
  right: 40%;
  transform: translateY(-75%);
}

.chat-bubble p {
  font-size: var(--rem-14);
  line-height: var(--rem-22);
  letter-spacing: 0.3px;
  font-weight: 500;
}

.chat-section .right-part .chat-bubble-purple-1 {
  background-color: var(--light-purple);
  top: 58%;
  left: 40%;
  border-radius: 24px;
}

.chat-section .right-part .chat-bubble-purple-2 {
  background-color: var(--light-purple);
  top: 65%;
  left: 40%;
  border-radius: 24px 24px 24px 0px;
}

.user-info,
.pill-container {
  display: flex !important;
  align-items: center;
  gap: var(--rem-10);
}

.user-info img {
  width: var(--rem-48) !important;
  height: var(--rem-42);
  border-radius: 50% !important;
}

.user-info div,
.pill-container div {
  display: flex;
  flex-direction: column;
  gap: var(--rem-8);
  width: 100%;
}

.user-info p,
.pill-container p {
  margin: 0;
  font-size: var(--rem-12);
  line-height: var(--rem-12);
  letter-spacing: 0.5px;
  color: #2c3a4b;
  opacity: 0.5;
}

.pill-container img:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

h4 {
  font-size: var(--rem-13);
  font-weight: 500;
  line-height: var(--rem-13);
  letter-spacing: 0.3px;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: auto var(--rem-100);
  position: relative;
  margin-top: var(--rem-50);
}
.video-section .left-part {
  grid-column: 2 / 6;
}
.video-section .right-part {
  grid-column: 7 / 11;
}
.video-section .right-part .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--rem-50);
}

.video-section .right-part .content-container p {
  margin-top: 0;
}

.video-section .left-part img {
  border-radius: 200px;
  /* width: min(100%, 400px); */
}

.video-section .left-part > div:nth-child(2) {
  position: absolute;
  left: 260px;
  z-index: 99;
}

.video-section .left-part > div:nth-child(2) img {
  /* width: 118.43px;
  height: 118.43px; */
  width: 227px;
  height: 227px;
  border: 1px solid #3c636a;
  padding: 53px;
}

.video-section .left-part .pill-container {
  box-shadow: 0 var(--rem-8) var(--rem-25) rgba(0, 0, 0, 0.1);
  padding: var(--rem-12);
  border-radius: 100px;
  position: absolute;
  z-index: 99;
  bottom: 70px;
  left: -90px;
  background-color: white;
  width: 232px;
  height: 77px;
}
.video-section .left-part .pill-container img {
  background-color: var(--green);
  padding: 14px;
}

.case-study-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: var(--rem-100);
  position: relative;
  column-gap: var(--rem-53);
}
.case-studies-container {
  display: flex !important;
  flex-direction: column;
  /* gap: var(--rem-50); */
}
.case-studies-container .case-study {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #d8d8d8;
  padding: var(--rem-50);
  justify-content: space-between;
  transform: perspective(1px) translateZ(0);
  transition: color 0.3s;
  overflow: hidden;
}

.case-studies-container .case-study:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(85, 60, 22, 0) 0%,
    var(--light-brown) 30%,
    var(--light-brown) 100%
  );
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-out;
  pointer-events: none;
}

.case-studies-container .case-study:hover:before,
.case-studies-container .case-study:focus:before,
.case-studies-container .case-study:active:before {
  transform: scaleX(1);
}
/* .case-studies-container .case-study {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #d8d8d8;
  padding: var(--rem-50);
  justify-content: space-between;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
}

.case-studies-container .case-study:hover:before,
.case-studies-container .case-study:focus:before,
.case-studies-container .case-study:active:before {
  transform: scaleX(1);
}

.case-studies-container .case-study:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -30px;
  right: -30px;
  bottom: 0;
  background: var(--light-brown);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
} */

.case-studies-container .case-study > div {
  display: flex;
  flex-direction: row;
  gap: var(--rem-50);
  align-items: flex-start;
}

.case-studies-container .case-study > div span {
  opacity: 0.34;
  line-height: 70px;
  letter-spacing: 0;
  font-size: var(--rem-25);
  font-weight: 600;
}

.case-studies-container .case-study > div h3 {
  line-height: 70px;
  letter-spacing: 0.83px;
  font-size: var(--rem-40);
  font-weight: 400;
}

.case-studies-container .case-study > div p {
  opacity: 0.5;
  line-height: 23px;
  letter-spacing: 0.5px;
  font-size: var(--rem-14);
  font-weight: 400;
}

.case-studies-container .case-study > a {
  line-height: 70px;
}

.case-studies-container .case-study:last-child {
  border: none;
}

@media (max-width: 1280px) {
  html {
    font-size: 82%;
  }

  .hero-section {
    margin-inline-start: var(--rem-100);
  }

  .content-container h1,
  .content-container h2 {
    font-size: var(--rem-50);
    line-height: var(--rem-50);
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }

  .content-container h1 {
    font-size: var(--rem-40);
    line-height: var(--rem-40);
  }

  .email-form button {
    padding: var(--rem-14) var(--rem-34);
  }

  .email-form input {
    font-size: var(--rem-20);
  }

  .chat-section .right-part .chat-bubble-purple-2 {
    margin-top: var(--rem-20);
  }

  .video-section {
    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--rem-30);
  }

  .video-section .left-part {
    grid-column: 1 / 4;
  }

  .video-section .right-part {
    grid-column: 4 / 7;
  }

  .video-section .left-part img {
    width: 80%;
  }
  .video-section .left-part > div:nth-child(2) img {
    width: 120px;
    height: 120px;
    padding: 25px;
  }

  .video-section .left-part > div:nth-child(2) {
    left: 58%;
  }

  .video-section .left-part .pill-container {
    left: -50px;
    height: 12%;
    padding: var(--rem-10);
    bottom: 5%;
    width: 170px;
  }

  .video-section .left-part .pill-container img {
    padding: 10px;
    width: 30%;
  }

  .case-studies-container {
    gap: var(--rem-30);
  }

  .case-studies-container .case-study {
    /* height: 100px; */
    padding-bottom: var(--rem-30);
  }

  .case-studies-container .case-study > div h3,
  .case-studies-container .case-study > div span,
  .case-studies-container .case-study > a {
    font-size: var(--rem-28);
    line-height: var(--rem-50);
  }

  .case-study-arrow > img {
    width: 70% !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 74%;
  }

  header ul,
  header .btns-container {
    display: none;
  }

  .logo-container {
    margin-left: 0;
  }

  header {
    margin: var(--rem-20);
  }

  .burger-menu {
    display: block;
  }

  .hero-section,
  .chat-section,
  .video-section,
  .case-study-section {
    margin-inline: var(--rem-40);
    gap: var(--rem-8);
  }

  .video-section {
    gap: var(--rem-30);
  }

  .chat-section,
  .video-section,
  .case-study-section {
    margin-top: var(--rem-40);
  }

  .chat-section {
    column-gap: var(--rem-30);
  }

  .right-part div {
    display: block;
  }

  .content-container h1,
  .content-container h2 {
    font-size: var(--rem-25);
    line-height: var(--rem-28);
  }

  .content-container p {
    font-size: var(--rem-12);
    margin-top: var(--rem-12);
    width: 100%;
  }

  .left-part,
  .right-part {
    gap: var(--rem-40);
  }

  .left-part img {
    width: 80%;
  }

  .email-form {
    width: 100%;
  }

  .email-form input {
    font-size: var(--rem-16);
  }

  .email-form button {
    font-size: var(--rem-12);
  }

  .pattern {
    scale: 0.4;
  }

  .chat-section .left-part .content-container,
  .video-section .right-part .content-container {
    gap: var(--rem-30);
  }

  .chat-section .right-part {
    gap: 0;
  }

  .chat-section .right-part .chat-bubble {
    display: none;
  }

  .video-section {
    grid-template-columns: repeat(6, 1fr);
  }
  .video-section .left-part {
    grid-column: 1 / 4;
  }

  .video-section .right-part {
    grid-column: 4 / 7;
  }

  .video-section .left-part > div:nth-child(2) img {
    width: 80px;
    height: 80px;
    padding: 16px;
  }

  .video-section .left-part > div:nth-child(2) {
    left: 58%;
  }

  .video-section .left-part .pill-container {
    left: -10px;
    height: 15%;
    padding: 0;
    bottom: 60px;
    width: 150px;
  }

  .video-section .left-part .pill-container img {
    padding: 10px;
    width: 25%;
  }

  .case-study-section {
    display: flex;
    flex-direction: column;
    gap: var(--rem-30);
  }

  .case-studies-container {
    gap: var(--rem-20);
  }

  .case-studies-container .case-study {
    /* height: 64px; */
    padding-bottom: 18px;
  }

  .case-studies-container .case-study > div h3,
  .case-studies-container .case-study > div span,
  .case-studies-container .case-study > a {
    font-size: var(--rem-20);
    line-height: var(--rem-18);
  }

  .case-study-arrow > img {
    width: 70% !important;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
